<h1>Pages#home</h1>
<div class="article-categories">
  <% @categories.each do |category| %>
  <div class="caregory-name">
    <h1><%=  link_to category.name, articles_path(category: category) %></h1>
  </div>
  <div class="category-articles">
    <% category.last_3_articles.each do |article| %>
      <p><%= link_to article.title, article_path(article) %></p>
    <% end %>
  </div>
  <% end %>
</div>
<% if policy(Article).new? %>
  <p><%= link_to 'Create Article', new_article_path %></p>
<% end %>
<% if policy(User).new? %>
  <p><%= link_to 'Add User', new_users_admin_path %></p>
  <p><%= link_to 'All Users', users_admin_index_path %></p>
<% end %>
